@using Management.Core.DTO
@using ApplicationCore.Models
@model IEnumerable<Department>
@{
    ViewData["Title"] = "Privacy";
}



<div class="accordion">
	@foreach (var department in Model.Where(x=>x.ParentDepartmentID == null))
	{
		@Html.Partial("./Partial/PartialDepartment", new DepartmentDTO(department, Model))
	}
</div>
